.header {
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 5);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 5, 1) 18%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 96%
  );
  z-index: 999;
}

.header-scrolled {
  background-color: black;
}

.header .logo {
  width: 10%;
}

.header .logo img {
  height: 30px;
  width: 100px;
  margin-left: 70px;
}

.header .menu {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.header .menu .menuItem {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header .menu .menuItem:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in;
  text-decoration: underline;
}

.header .searchBar {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(173, 161, 161);
  padding-right: 5px;
  opacity: 0.5;
  border-radius: 20px;
}

.header .searchBar input::placeholder {
  color: white;
  font-size: 15px;
}

input[type="search"] {
  width: 90%;
  border: 20px;
  font-size: 10px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 20px;
  padding-left: 10px;
  background-color: rgb(173, 161, 161);
  caret-color: white;
}

.header .profile {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  cursor: pointer;
}

.header .profile img {
  border-radius: 5px;
}

.header .dropDown {
  height: 60px;
  width: 100px;
  background-color: grey;
  position: absolute;
  right: 4%;
  display: flex;
  flex-direction: column;
  top: 70%;
  text-align: center;
  line-height: 1.8;
  border-radius: 10px;
  cursor: pointer;
}

.header .profile .icon:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}
