.recommend {
  margin-top: 30px;
  height: auto;
  width: 100%;
  padding: 0px 80px;
  color: white;
}

.recommend .recommendTitle {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.recommend .recommendTitle h1 {
  border-bottom: 2px solid white;
  color: white;
  font-weight: 500;
}

.recommend .recommendTitle button {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 45px;
  width: fit-content;
  border-radius: 5px;
  margin-left: 20px;
}

.recommend .recommendTitle button .icon {
  margin-right: 3px;
}
